server:
  port: 8083


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/poem?useSSL=false&useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: welcomejack
    driver-class-name: com.mysql.cj.jdbc.Driver
  aop:
    auto: true
    proxy-target-class: true


mybatis:
  configuration:
    map-underscore-to-camel-case: true
  type-aliases-package: com.jackdyt.poem.mapper
  mapper-locations: classpath:mapper/*.xml

elasticsearch:
  rest:
    url: 127.0.0.1:9200



logging:
  file:
    path: poem.log
    max-history: 10
    max-size: 20MB
#  level:
#    com.jackdyt.blog.mapper: debug
