<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all poems</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="./js/axios.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <script src="./js/vue.min.js"></script>

</head>


<body>

<div  id="result">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- title -->
            <div class="navbar-header">
                <a class="navbar-brand" >Search Poems</a>
            </div>

            <!-- search -->
            <div class="container-fluid">
                <div class="col-sm-6" style="margin-top: 10px;">
                    <input type="text" class="form-control" id="searchText" placeholder="type keyword" v-model="keyword">
                </div>
                <div class="col-sm-2"style="margin-top: 10px;">
                    <button type="button" id="searchBtn" class="btn btn-default" @click="search">search</button>
                </div>
            </div>

            <label for="country">Type</label>
            <select id="country" v-model="type">
                <option value="all" >all</option>
                <option value="唐诗" >唐诗</option>
                <option value="宋词">宋词</option>
            </select>
<!--            <div class="btn-group btn-group-sm" role="group" >-->
<!--                <div class="btn-group" role="group">-->
<!--                    <button type="button" class="btn btn-default active" >All</button>-->
<!--                </div>-->
<!--                <div class="btn-group" role="group">-->
<!--                    <button type="button" class="btn btn-default active" >唐诗</button>-->
<!--                </div>-->
<!--                <div class="btn-group" role="group">-->
<!--                    <button type="button" class="btn btn-default active" >宋词</button>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </nav>

    <div class="row" style="margin-top: 20px;" >
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>name</th>
                        <th>type</th>
                        <th>author</th>
                        <th>content</th>
                        <th>description</th>
                    </tr>
                    <tbody>
                    <tr v-for="poem,index in poems" :key="poem.id">
                        <td v-html="poem.name"></td>
                        <td v-html="poem.type"></td>
                        <td v-html="poem.author"></td>
                        <td v-html="poem.content"></td>
                        <td v-html="poem.authordes"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    const showResult = new Vue({
        el: "#result",
        data: {
            poems: [],
            index :{},
            page: 1,
            size: 10,
            type: "all",
            keyword:""
        },
        methods: {
            search() {
                let _this = this;
                axios.get("http://localhost:8083/search/"+ _this.type+"/"+ _this.keyword).then(function (response) {
                    _this.poems = response.data.poems;
                    _this.index = response.data;
                    console.log(_this.poems)
                    console.log(_this.type)
                }).catch(function (err) {
                    console.log(err);
                })
            },


        },

    })
</script>
</body>
</html>